@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
*{
  padding: 0;
  margin: 0;
}
#canvas{
  max-width: 100%;
}
body{
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
/* Poner canvas al 100% */
.pricipal{
  display: flex;
  justify-content: center;
  align-items: center;

}
.pricipal-canvas{

}
p{
  margin-top: 2px;
}