@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
*{
  padding: 0;
  margin: 0;
}
#canvas{
  max-width: 100%;
  display: none;
}
body{
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
/* Poner canvas al 100% */
.principal{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;

}
.intro, .gameOver{
  height: 100vh;
  width: 100%;
  background:black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gameOver{
  background: #0000ff1f;

}
#start{
 position: absolute;
 bottom: 0;
}
#retry{
  width: 20%;
  margin-top: 4%;
  color: black;
}
h1{
  font-size: 77px;
}