@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
*{
  padding: 0;
  margin: 0;
}
#canvas{
  max-width: 100%;
  display: none;
}
body{
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
/* Poner canvas al 100% */
.pricipal{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;

}
.pricipal-canvas{

}
p{
  margin-top: 2px;
}
.intro, .gameOver{
  height: 100vh;
  width: 100%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.gameOver{
  background: blue;
  display: none;
}